<h2>Estad&iacutesticas: </h2>
<table id="t01">
  <col width="70%">
  <col width="30%">
  <tr>
    <td>N&uacutemero total de preguntas:</td>
    <td><%=statistics.totalQuizNumber%></td>
  </tr>
  <tr>
    <td>N&uacutemero total de comentarios:</td>
    <td><%=statistics.totalCommentNumber%></td>
  </tr>
  <tr>
    <td>Media de comentarios por pregunta:</td>
    <td><%=statistics.averageCommentNumber%></td>
  </tr>
  <tr>
    <td>N&uacutemero total de preguntas sin comentarios:</td>
    <td><%=statistics.totalQuizNoCommentNumber%></td>
  </tr>
  <tr>
    <td>N&uacutemero total de preguntas con comentarios:</td>
    <td><%=statistics.totalQuizWithCommentNumber%></td>
  </tr>
</table>
